<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link href="{{ url_for('static', path='/static/change_password.css') }}" rel="stylesheet">
	<title>Settings</title>
</head>
<body>
	<section id="content">
		<main>
			<h1 class="title">Update your password</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Settings</a></li>
			</ul>
			<div class="data">
				<div class="content-data">
					<div class="head">
						<h3>Choose password you want to edit</h3>
					</div>
					<form method="post">
						<div class="form-group">
							<input type="text" name="last_password" required placeholder="last_password">
						</div>
						<br>
						<div class="form-group">
							<input type="text" name="new_password" required placeholder="new_password">
						</div>
						<br>
						<center>
							<button type="submit" name="submit" class="btn-send" style="font-size: 12px; padding: 10px 25px; border-radius: 10px;">Update</button>
						</center>
					</form>
					<center style="color: red;">
						 {{ message }}
					</center>
				</div>
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	{% block scripts %}
    <script src="{{ url_for('static',path='/javascript/script.js') }}"></script>
    {% endblock %}
</body>
</html>