<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <link href="{{ url_for('static', path='/static/style_register.css') }}" rel="stylesheet">
  </head>
  <body style="background-image: url('{{ url_for('static',path='/templates/img/tesla.jpg') }}');
  background-repeat: no-repeat;  background-size: cover; background-attachment: fixed;">
    <div class="center">
      <h1 style="font-size: 25px;">Login</h1>
      <form method="post" action="/">
        <div class="txt_field">
          <input type="text" required name="username">
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required name="password">
          <span></span>
          <label>Password</label>
        </div>
        <div class="pass"><a href="/forgot_password">Forgot Password?</a></div>
        <input type="submit" value="Login">
        <div class="signup_link">
          Not a member? <a href="/sign_up">Signup</a>
          <center>
            <img src="{{ url_for('static',path='/templates/img/tesla_logo.jpg') }}" style="width : 80px; height: 80px;">
          </center>
        </div>
      </form>
    </div>

  </body>
</html>
